<div class="container">


    <div class="row row-cols-auto">

        <div class="col-3">
            <button type="button" class="btn btn-lg btn-primary add" (click)="allowUpdate()"> Edit quantity</button
        ></div>
        <div class="col">
            <input class="form-control form-control-lg" type="text" placeholder="product name"   [(ngModel)]="productName"  ></div>
        <div class="col">
            <input class="form-control form-control-lg" type="text" placeholder="supplier name "     [(ngModel)]="supplierName"  ></div>
        <div class="col">
            <input class="form-control form-control-lg" type="text" placeholder="status"      [(ngModel)]="statusSearch" ></div>
            <div class="col">
                <button type="button" class="btn btn-outline-primary btn-lg"   (click)="onSearch()">search</button></div>



    </div>

    <div class="card" >
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th scope="col" style="display:none;">product id</th>
                <th scope="col">product name</th>
                <th scope="col">quantity</th>
                <th scope="col">supplier</th>
                <th scope="col">date arrived</th>
                <th scope="col">last modification</th>
                <th scope="col">description </th>
                <th scope="col">status </th>
                <th scope="col">Action </th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td style="display:none;">{{ item.id }}</td>
                <td >{{ item.product }}</td>
                <td> <input type=number value="{{ item.quantity }}" id="{{item.id}}" [disabled]="!allowedit"> </td>
                <td>{{ item.supplier }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.lastModification }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.status }}</td>

                <td (click)="deleteItem(item)">
                    <i class="material-icons">delete_forever</i>

                </td>
                
                <td (click)="onAcceptUpdate(item)">
                    <i >accept changes</i>

                </td>
            </tr>
        </tbody>
    </table>


</div>
</div>