<div class="container">


    <div class="row row-cols-auto">

        <div class="col">
            <button type="button" class="btn btn-lg btn-primary add" (click)="addSupplier()"> + add supplier </button>
        </div>
        
    </div>


    <div class="card" >
        <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th scope="col" style="display:none;">product id</th>
                <th scope="col">supplier name</th>
                <th scope="col">supplier phone n°</th>
                <th scope="col">supplier address</th>
                <th scope="col">supplier e-mail</th>
                
                <th scope="col">Action </th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of suppliers; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td style="display:none;">{{ supplier.id }}</td>
                <td>{{ supplier.name }}</td>
                <td> {{ supplier.phone }} </td>
                <td>{{ supplier.adres}}</td>
                <td>{{ supplier.mail }}</td>
                

                 <td (click)="deleteSupplier(supplier)">
                    <i class="material-icons">delete_forever</i>

                </td> 
                
                
            </tr>
        </tbody>
    </table>


</div>
</div>